---
http_interactions:
- request:
    method: get
    uri: https://api.salesloft.com/v2/me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cd05abbe40faa3886476d5a2e0b8bbbe"
      X-Ratelimit-Endpoint-Cost:
      - '1'
      X-Ratelimit-Remaining-Minute:
      - '599'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":46818,"guid":"a569056e-4d53-4de8-b22d-d441a12e9378","created_at":"2018-03-09T17:06:02.532542-05:00","updated_at":"2021-02-03T22:02:06.964608-05:00","name":"Eng
        Exercise","first_name":"Eng","last_name":"Exercise","job_role":null,"active":true,"time_zone":"US/Eastern","slack_username":"engineeringjobs","twitter_handle":null,"email":"engineeringjobs@salesloft.com","email_client_email_address":"nora.ignatius@salesloft.com","sending_email_address":"nora.ignatius@salesloft.com","from_address":null,"full_email_address":"\"Eng
        Exercise\" <nora.ignatius@salesloft.com>","bcc_email_address":null,"email_signature":"","email_signature_type":"html","email_signature_click_tracking_disabled":false,"team_admin":true,"local_dial_enabled":false,"click_to_call_enabled":false,"email_client_configured":true,"crm_connected":false,"external_feature_flags":{"ma_enabled":true,"ma_live_feed":true,"ma_recent_activities_update":true,"ma_person_page":true,"ma_push_notifications":true,"ma_websockets":true,"ma_edit_person":true,"ma_dev_qa_tools":false,"ma_cadences":false,"hot_leads":true,"people_crud_allow_create":true,"people_crud_allow_delete":true,"ma_mobile_workflow":false,"linkedin_oauth_flow":true},"_private_fields":{},"phone_client":{"id":47398},"phone_number_assignment":null,"group":null,"team":{"_href":"https://api.salesloft.com/v2/team","id":10822},"role":{"id":"Admin"}}}'
  recorded_at: Mon, 31 May 2021 18:15:14 GMT
recorded_with: VCR 6.0.0
